@import "tailwindcss";

:root {
  --color-primary: #5af63b;
  --color-background: #ffffff;
  --color-text: #111827;
}

@theme {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-app-text: var(--color-text);
}
